@model F5QI.SMS.Web.Areas.Admin.Models.ServiceManegeViewModel
@using F5QI.SMS.Web.Common;
@{

    ViewBag.Title = "ServiceManege";
    Layout = "~/Areas/Admin/Views/Shared/_Admin1Layout.cshtml";
}

<div class="box">
    <!-- /.box-header -->
    <div class="box-body">
        <table class="ui compact celled table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>名称</th>
                    <th>备注</th>
                    <th>参考价格</th>
                    <th>配置项目</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody data-bind="foreach:Rows">
                <tr>
                    <td data-bind="text:Id"></td>
                    <td data-bind="text:Name"></td>
                    <td data-bind="text:Remark"></td>
                    <td data-bind="text:Price"></td>
                    <td data-bind="text:Config"></td>
                    <td data-bind="text:$parent.TypeDisplay($data)"></td>
                    <td>
                        <div class="mini ui buttons">
                            <button class="ui button" data-bind="click:$parent.Delete">删除</button>
                            <button class="ui button" data-bind="click:$parent.OpenChange">修改</button>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot class="full-width">
                <tr>
                    <th></th>
                    <th colspan="6">
                        <div class="ui small primary labeled icon button" onclick="OpenAdd()">
                            <i class="user icon"></i> 添加服务
                        </div>
                        @Html.Raw(Html.Pager("abc", Model.PageIndex, Model.PageSize, Model.RowCount, "mini ui floated pagination menu"))
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="ui modal" id="AddModel">
        <i class="close icon"></i>
        <div class="header">
            添加服务
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>服务名称</label>
                    <input type="text" data-bind="value:TempModel.Name">
                </div>
                <div class="field">
                    <label>备注</label>
                    <input type="text" data-bind="value:TempModel.Remark">
                </div>
                <div class="field">
                    <label>价格</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="number" placeholder="Amount" data-bind="value:TempModel.Price">
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
                <div class="field">
                    <label>服务类型</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" data-bind="value:TempModel.Type">
                        <i class="dropdown icon"></i>
                        <div class="default text">请选择</div>
                        <div class="menu" data-bind="foreach:Types">
                            <div class="item" data-bind="text:Value,value:Key,css:{active:Key==$parent.TempModel.Type() ,selected:Key==$parent.TempModel.Type()}"></div>
                            @*@foreach (var item in F5QI.SMS.Web.Common.Tools.Enum2NameValueList(typeof(F5QI.SMS.Web.Models.ServiceType)))
                                {
                                <div class="item" data-value="@item.Key">@item.Value</div>
                                }*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" data-bind="click:SaveAdd">
                保存
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <div class="ui modal" id="ChangeModel">
        <i class="close icon"></i>
        <div class="header">
            修改服务
        </div>
        <div class="content">
            <form class="ui form">
                <div class="field">
                    <label>服务名称</label>
                    <input type="text" data-bind="value:TempModel.Name">
                </div>
                <div class="field">
                    <label>备注</label>
                    <input type="text" data-bind="value:TempModel.Remark">
                </div>
                <div class="field">
                    <label>价格</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="number" placeholder="Amount" data-bind="value:TempModel.Price">
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
                <div class="field">
                    <label>服务类型</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" data-bind="value:TempModel.Type">
                        <i class="dropdown icon"></i>
                        <div class="default text" data-bind="text:TypeDisplay(TempModel)"></div>
                        <div class="menu" data-bind="foreach:Types">
                            <div class="item" data-bind="text:Value,value:Key,css:{active:Key==$parent.TempModel.Type ,selected:Key==$parent.TempModel.Type}"></div>
                            @*@foreach (var item in F5QI.SMS.Web.Common.Tools.Enum2NameValueList(typeof(F5QI.SMS.Web.Models.ServiceType)))
                                {
                                    <div class="item" data-value="@item.Key">@item.Value</div>
                                }*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" data-bind="click:SaveChange">
                保存
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
@section scripts{
    <script>
        function OpenAdd() {
            $( '#AddModel' ).modal( 'show' );
        }

        $( '.selection.dropdown' ).dropdown();
        var dt = {
            Rows:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Services)),
            RowCount:@Model.RowCount,
            Types:@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(F5QI.SMS.Web.Common.Tools.Enum2NameValueList(typeof(F5QI.SMS.Web.Models.ServiceType))))
            };
        function ViewModel( datas ) {
            self = this;
            self.Types=ko.observableArray(datas.Types);
            self.Rows = ko.observableArray( datas.Rows );
            self.TempModel = {
                Id:ko.observable( 0 ),
                Name: ko.observable( "" ),
                Remark: ko.observable( "" ),
                Price: ko.observable( 0 ),
                Type: ko.observable( "" ),
                Config:ko.observable( "" )
            };
            self.SaveAdd = function () {
                $.ajax({
                    url: "/api/Services",
                    method: "POST",
                    data: ko.toJSON( self.TempModel ),
                    contentType: 'application/json; charset=UTF-8',
                    success: function (result) {
                        if (!result.IsOk) {
                            alert(result.Msg);
                            return;
                        }
                        var ar=self.Rows();
                        var newitem=ko.toJS(self.TempModel);
                        newitem.Id="刷新查看";
                        ar.push(newitem);
                        self.Rows(ar);
                    },
                    complete:function(){

                    }
                });
            };
            self.SaveChange = function () {
                $.ajax({
                    url: "/api/Services/"+self.TempModel.Id()+"/Change",
                    method: "POST",
                    data: ko.toJSON( self.TempModel ),
                    contentType: 'application/json; charset=UTF-8',
                    success: function (result) {
                        if (!result.IsOk) {
                            alert(result.Msg);
                            return;
                        }
                        var array=[];
                        var oldArray=self.Rows();
                        for (var i = 0; i < oldArray.length; i++) {
                            if (oldArray[i].Id!=self.TempModel.Id()) {
                                array.push(oldArray[i]);
                            }else {
                                array.push(ko.toJS(self.TempModel));
                            }
                        }
                        self.Rows(array);
                    },
                    complete:function(){

                    }
                });
            };
            self.OpenChange=function (item) {
                self.TempModel.Id(item.Id);
                self.TempModel.Name(item.Name);
                self.TempModel.Remark(item.Remark);
                self.TempModel.Price(item.Price);
                self.TempModel.Type(item.Type);

                $( '#ChangeModel' ).modal( 'show' );
            }
            self.TypeDisplay=function(item){
                var types=self.Types();
                for (var i = 0; i < types.length; i++) {
                    if (types[i].Key==item.Type) {
                        return types[i].Value;
                    }
                }
            };
            self.Delete=function(item){
                $.ajax({
                    url: "/api/Services/"+item.Id+"/Delete",
                    method: "POST",
                    contentType: 'application/json; charset=UTF-8',
                    success: function (result) {
                        if (!result.IsOk) {
                            alert(result.Msg);
                            return;
                        }
                        var array=[];
                        var oldArray=self.Rows();
                        for (var i = 0; i < oldArray.length; i++) {
                            if (oldArray[i].Id!=item.Id) {
                                array.push(oldArray[i]);
                            }
                        }
                        self.Rows(array);
                    },
                    complete:function(){

                    }
                });
            };
        }
        window.vm = new ViewModel(dt);

        //canBet: ko.observable( true ),
        //    chips:ko.observableArray(chips),
        ko.applyBindings( vm );
    </script>
}