@model F5QI.SMS.Web.Areas.Admin.Models.BaseViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Model.CurrentPage</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">    
    <!-- Semantic UI -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.8/semantic.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/adminlayout.css" rel="stylesheet" />
</head>
<body>
    <div class="f5-layout">
        <div class="f5-header">
            <div class="f5-main">
            </div>
        </div>
        <div class="f5-menu">
            <ul class="f5-nav f5-nav-tree">
                @foreach (var item in Model.Menu)
                {
                    if (item.IsLable)
                    {
                        <li class="f5-nav-item" style="height: 45px; text-align: center">@item.Title</li>
                    }
                    else
                    {
                        <li class="f5-nav-item @(item.IsActive(Model.CurrentPage)?(item.IsTree?"f5-nav-Open":"f5-this"): "")">
                            <a href="@item.Url">
                                <i class="@item.IcoClass"></i>
                                @item.Title
                                @if (item.IsTree)
                                {
                                    <span class="layui-nav-more"></span>
                                }
                            </a>
                            @if (item.IsTree)
                            {
                                <dl class="layui-nav-child ">
                                    @foreach (var child in item.Child)
                                    {
                                        <dd class="@(child.IsActive(Model.CurrentPage)?("layui-this"):"")">
                                            <a href="@child.Url"><i class="@child.IcoClass"></i>@child.Title</a>
                                        </dd>
                                    }
                                </dl>
                            }
                        </li>
                    }
                }
            </ul>

        </div>
        <div class="body">
            
        </div>
        <div class="footer">
            <div class="layui-main">
                <p>&copy; 2017 <a href="/">layui.com</a> MIT license</p>
            </div>
        </div>
         
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>